*.trace
*.trace.gz
*.jar
*.jar-ORIG
*.log
*.dot
*.pdf
*.arff
*.pyc
.#kate-*
junitvmwatcher*
buildstring.txt
debugoutput
.depcache
new_catalog.txt
catalog.txt
typescript
plannerlog.txt
keepalive
obj

src/ee/org_voltdb_jni_ExecutionEngine.h
src/ee/org_voltdb_utils_DBBPool.h
src/ee/org_voltdb_utils_ThreadUtils.h

tools/SystemPropertyPrinter.class