## -------------------------------
## Development + Testing Artifacts
## -------------------------------
files/
*.trace
*.trace.gz
traces/
*.jar
*.jar-ORIG
*.log
*.dot
*.pdf
*.arff
*.pyc
*.png
*.csv
*.markov
junitvmwatcher*
*.hprof
buildstring.txt
debugoutput
.depcache
new_catalog.txt
catalog.txt
typescript
plannerlog.txt
keepalive
obj
conf-*.html
.DS_Store
SourceJars

## -------------------------------
## JNI Compiler Artifacts
## -------------------------------
src/ee/org_voltdb_jni_ExecutionEngine.h
src/ee/org_voltdb_utils_DBBPool.h
src/ee/org_voltdb_utils_ThreadUtils.h

## -------------------------------
## Catalog Compiler Artifacts
## -------------------------------
src/catgen/out

## -------------------------------
## Kate Swap Files
## -------------------------------
*.kate-swp
.#kate-*

## -------------------------------
## Backup artifacts
## -------------------------------
~*
*~

## -------------------------------
## Eclipse files
## -------------------------------
.wtpmodules
.classpath
.project
.settings
